*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.media-card__cover {
    width: 100%;
}

.media-card__cover img {
    display: block;
    width: 100%;
    height: auto;
}

.media-card__player {
    display:block;
    width: 100%;
    height: auto;
    border-radius: 0.75rem;
}

.media-card__audio-player {
    width: 100%;
}